.jumbotron{
  opacity: 0.5;
}

body{
  // background-image: url(../images/illustration/i1.jpeg);
  // background-repeat: no-repeat;
  // background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

p{
  text-align: justify;
}

#gallerie{
  height: 270px;
  overflow: hidden;
}

// caption{
//   caption-side: top;
// }

.vignette{
  width: 100%;
}

.container{
  margin-top: 20px;
}

.pageindex{
  background-image: url(../images/illustration/i1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#pagecarte{
  background-image: url(../images/resto/resto4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#pagerestos{
  background-image: url(../images/resto/resto1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#pagecontact{
  background-image: url(../images/illustration/i2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
