$fdbeigepastel: #FFF3CD;
$beige: #FFFA99;
$beigefonce: #FFDE87;
$grisbleu: #A6B1B5;
$link-hover: #BD4F6C;
$color: #E5E5E3;
$brun: #843C06;

*{
  border: 1px solid black;
}

body, html{
  margin: 0px;
  padding: 0px;
  color: $brun;
}
/* entete */




.jumbotron{
  opacity: 0.5;
}

body{
  background-image: url(../images/illustration/i1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.gallerie{
  height: 500px;
  overflow: hidden;
}

.vignette{
  width: 100%;

}
